/* Ensure the body and all elements have the intended background color */
body {
  background-color: #fff; /* White background */
  color: #000; /* Adjust text color to black for visibility */
  font-family: Arial, sans-serif;
  align-items: center;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
  background-color: #fff; /* White background */
}

.login-container {
  background-color: #f8f9fa; /* Slightly off-white to differentiate the form container */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for better contrast */
  width: 320px;
  text-align: center;
  align-items: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #000; /* Black title text */
}

.form-email {
  margin-bottom: 15px;
  width: 100%;
}

.form-label {
  font-size: 14px;
  margin-bottom: 5px;
  width: 70px;
  display: inline-block;
  color: #000; /* Black label text */
}



input {
  padding: 10px;
  border: 1px solid #ccc; /* Light gray border for inputs */
  border-radius: 4px;
  background-color: #fff;
  color: #000; /* Black text inside inputs */
  font-size: 14px;
  width: calc(100% - 20px);
}

.password-input-container {
  display: flex;
  align-items: center;
}

.show-password-label {
  margin-left: 10px;
  color: #000;
  font-size: 14px;
}

.password-input-container { 
  display: flex;
  color: #000;
}

.login-button {
  padding: 12px 25px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.login-button:hover {
  background-color: #0056b3;
}

.register-text {
  margin-top: 10px;
  cursor: pointer;
  color: #007bff;
  font-size: 14px;
  white-space: nowrap;
}

.register-text:hover {
  color: #00f;
}

.register-container {
  color: #000
}

.message-container {
  color: #28a745;
  margin-top: 20px;
}

.error {
  color: #ff4d4d;
  margin-top: 10px;
}

.success {
  color: #28a745;
  margin-top: 10px;
}
